<!DOCTYPE html>
<html>
  <head>
    <title>EvenbridesV1</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootswatch/4.5.2/lux/bootstrap.min.css" integrity="sha384-9+PGKSqjRdkeAU7Eu4nkJU8RFaH8ace8HGXnkiKMP9I9Te0GJ4/km3L1Z8tXigpG" crossorigin="anonymous">

    <%= render 'layouts/header' %>
    <%= render 'layouts/flash'%>
    

      <%= csrf_meta_tags %>
      <%= csp_meta_tag %>
      <!-- Bootstrap CSS -->
      
      <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
      <script src="https://kit.fontawesome.com/46962466a1.js" crossorigin="anonymous"></script>
 
      <!--//  \/ligne bootstrap copier depuis le projet de semaine 1 \/-->
      <link rel="stylesheet" href="/app/stylesheets/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
      <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
      <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %> 
  </head>

  <body>

    <% flash.each do |type, msg| %>
      <% case type %>
        <% when "notice" %>
          <div class="alert alert-success">
            <%= msg %>
          </div>
        <% when "alert" %>
          <div class="alert alert-danger">
            <%= msg %>
          </div>
      <% end %>
    <% end %>


  

    <%= yield %>
    
    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery-slim.min.js"><\/script>')</script>
    <script src="../../assets/js/vendor/popper.min.js"></script>
    <script src="../../dist/js/bootstrap.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
    <%= javascript_include_tag 'https://checkout.stripe.com/checkout.js' %>
  
    


  </body>
  <%= render 'layouts/footer' %>

</html>





